@use "../../styles/utilStyles/" as *;

.contactSection {
  background-image: url(src/assets/images/scenery/coast-rocks-horizontal.jpg);
  background-position: 25% 75%;
  background-size: cover;
  padding: rem(20);
  @include breakpoint(medium) {
    padding: rem(40);
  }
  @include breakpoint(large) {
    padding: rem(50);
  }
}

.contactContainer {
  background-color: var(--light-text);
  margin: 0 auto;
  max-width: rem(1200);
  padding: rem(10);
}

.contentContainer {
  @include breakpoint(medium) {
    @include grid-parent(auto 60%, 1fr, rem(20));
  }
  @include breakpoint(large) {
    padding: rem(10);
  }
}

.headerContainer {
  @include grid-parent(1fr, 30% auto, rem(20));
  padding: 0 rem(15);
  h4 {
    color: var(--dark-green);
    line-height: 1.6;
    margin: 0;
  }
  div {
    @include breakpoint-down(small) {
      display: none;
    }
    p {
      font-size: rem(13);
      margin: 0 0 rem(10);
    }
    .contactLink {
      @include grid-parent(rem(20) auto, 1fr, rem(5), center, start);
      color: var(--darker-grey);
      margin: rem(10) 0 0 rem(15);
      svg {
        color: var(--turquoise);
      }
      span {
        font-size: rem(13);
      }
    }
  }
}

.contactContainer form {
  padding: 0 rem(15);
}
