@use "../../styles/utilStyles/" as *;

.contact {
  background-image: url(src/assets/images/scenery/coast-rocks-horizontal.jpg);
  background-position: 25% 75%;
  background-size: cover;
  padding: rem(20);
  @include breakpoint(medium) {
    padding: rem(40);
  }
  @include breakpoint(large) {
    padding: rem(50);
  }
}

.contactContainer {
  background-color: var(--light-text);
  margin: 0 auto;
  max-width: rem(1200);
  padding: rem(20);
  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: auto 60%;
    gap: rem(40);
  }
  @include breakpoint(large) {
    padding: rem(30);
  }
}

.contactContainer .content {
  display: grid;
  grid-template-rows: 30% auto;
  gap: rem(20);
  h3 {
    color: var(--dark-green);
    font-size: rem(16);
    line-height: 1.6;
    margin: 0;
    @include breakpoint(large) {
      font-size: rem(18);
    }
  }
  div {
    @include breakpoint-down(small) {
      display: none;
    }
    p {
      font-size: rem(14);
      margin: 0 0 rem(10);
    }
    .contactLink {
      @include grid-parent(rem(20) auto, 1fr, rem(5), center, start);
      color: var(--darker-grey);
      margin: rem(10) 0 0 rem(15);
      svg {
        color: var(--turquoise);
      }
      span {
        font-size: rem(13);
      }
    }
  }
}

.contactContainer form {
  display: grid;
  grid-template-rows: repeat(1fr, 7);
  gap: rem(8);
  @include breakpoint(medium) {
    margin: 0;
  }
  textarea {
    height: rem(80);
    @include breakpoint(medium) {
      height: rem(60);
    }
  }
}
