@use "../../styles/utilStyles/" as *;

.about-page .mission-values-container {
  @include grid-parent(1fr, 1fr 1fr, rem(50));
  background-color: var(--light-green);
  padding: rem(50) rem(20) rem(60);
  .mission-container,
  .value-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote-container {
    @include grid-parent(rem(20) auto rem(20), auto auto);
    svg:first-child {
      @include grid-child(1, 1);
    }
    p {
      @include grid-child(2, 1, start);
    }
    span {
      @include grid-child(2, 3, start, center);
    }
    svg:last-child {
      @include grid-child(3, 1, start, end);
    }
    @include breakpoint(medium) {
      @include grid-parent(rem(20) auto rem(20), auto auto);
    }
  }
  h2 {
    color: var(--light-text);
    margin: 0 auto rem(20);
  }
  h2,
  p {
    text-align: center;
  }
  p {
    display: inline-block;
    font-size: rem(13);
    font-style: italic;
    margin: 0 auto rem(5);
    max-width: rem(300);
    @include breakpoint(medium) {
      font-size: rem(15);
      max-width: rem(500);
    }
  }
  span {
    background-color: var(--darker-grey);
    height: rem(3);
    width: rem(80);
  }
}

.approach-container {
  background-color: var(--light-background);
  padding: rem(30) rem(20);
  @include breakpoint(medium) {
    padding: rem(50) rem(30);
  }
  @include breakpoint(xlarge) {
    padding: rem(50) rem(30) rem(60);
  }
  h2 {
    margin: 0 auto;
    text-align: center;
  }
  p {
    font-size: rem(13);
    line-height: 1.6;
    margin: 0 auto;
    padding: rem(20) 0 rem(30);
    text-align: center;
    @include breakpoint(medium) {
      font-size: rem(14);
      margin: 0 auto;
      max-width: rem(720);
      padding: rem(30) 0 rem(50);
      width: 90%;
    }
  }
}

.card-container {
  @include grid-parent(auto, repeat(4, 1fr), rem(20));
  margin: 0 auto;
  max-width: rem(1450);
  @include breakpoint(medium) {
    @include grid-parent(repeat(2, 1fr), repeat(2, 1fr), rem(30));
  }
  @include breakpoint(xlarge) {
    @include grid-parent(repeat(4, 1fr), auto, rem(20));
  }
}

.about-blocks {
  margin: rem(15) 0;
  @include breakpoint(medium) {
    margin: 0;
  }
  @include breakpoint(large) {
    margin: 0 rem(20);
  }
  @include breakpoint(xlarge) {
    margin: rem(20) 0;
  }
}
