@use "../../styles/utilStyles/" as *;

.team-page {
  .team {
    background-color: var(--light-green);
    padding: rem(10) 0 rem(20);
    @include breakpoint(medium) {
      padding: 0 0 rem(60);
    }
  }
}
