@use "../../styles/utilStyles/" as *;

button {
  border: none;
  border-radius: 3px;
  color: var(--dark-text);
  cursor: pointer;
  font-size: 12px;
  padding: rem(5);
  a {
    color: var(--light-text);
    text-decoration: none;
  }
}

.schedule,
.link,
.submit {
  background-color: var(--turquoise);
  color: var(--light-text);
  font-size: rem(13);
  letter-spacing: 1.08px;
  padding: rem(6) rem(18);
  text-transform: uppercase;
}

.link a {
  display: inline-block;
  width: 100%;
}

.schedule {
  font-weight: 400;
  padding: rem(5) rem(8) rem(5) rem(13);
  @include breakpoint(medium) {
    font-size: 16px;
  }
  a {
    @include grid-parent(auto rem(20), 1fr, rem(8), center, center);
  }
}

.sliderArrow {
  background-color: transparent;
  border-radius: 50%;
  height: rem(18);
  padding: 0;
  svg {
    color: var(--darker-grey);
    width: rem(24);
    height: rem(24);
  }
}

.slideSelector {
  background-color: var(--medium-grey);
  border-radius: 50%;
  width: rem(10);
}

// active slider selector
.active {
  background-color: var(--turquoise);
}

.accordion {
  height: 34px;
  background-color: var(--light-background);
  transform: rotate(0);
  transition: transform 500ms ease-in-out;
}

.rotate {
  transform: rotate(135deg);
}
