@use "../../styles/utilStyles/" as *;

.textareaContainer {
  display: grid;
  grid-template-rows: auto auto;
  gap: rem(3);
  label {
    font-size: rem(12);
    @include breakpoint(medium) {
      font-size: rem(13);
    }
  }
  textarea {
    border: 1px solid var(--dark-grey);
    color: var(--dark-text);
    font-size: rem(11);
    padding: rem(5);
    width: 100%;
    &::placeholder {
      color: var(--medium-grey);
    }
    @include breakpoint(medium) {
      font-size: rem(12);
    }
  }
}
