@use "../../styles/utilStyles/" as *;

.platform,
.therapy,
.frequency {
  padding: rem(20);
  @include breakpoint(medium) {
    padding: rem(30);
  }
  @include breakpoint(large) {
    padding: rem(30);
  }
  @include breakpoint(xlarge) {
    padding: rem(40) 0;
  }
}

.platform,
.frequency {
  background-color: var(--light-background);
}

.therapy {
  background-color: var(--light-green);
  color: var(--light-text);
}

.frequency {
  .options-container {
    margin: 0 auto;
    max-width: rem(1000);
    @include breakpoint(medium) {
      @include grid-parent(repeat(2, 1fr), 1fr, rem(30));
    }
  }
}
