@use "../../styles/utilStyles/" as *;

.heroContainer {
  background-position: 50% 50%;
  background-size: cover;
  height: rem(260);
  position: relative;
  @include breakpoint(medium) {
    height: rem(340);
  }
  @include breakpoint(large) {
    background-position: 50% 54%;
    height: rem(400);
  }
  @include breakpoint(xlarge) {
    background-position: 50% 51%;
    height: rem(500);
  }
  h1 {
    color: var(--light-text);
    background: linear-gradient(
      to right,
      hsla(0, 0%, 12%, 0.8),
      80%,
      rgba(255, 255, 255, 0)
    );
    font-size: rem(28);
    margin: 0;
    padding: rem(20);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    @include breakpoint(medium) {
      font-size: rem(34);
      padding: rem(20);
    }
    @include breakpoint(large) {
      font-size: rem(40);
      padding: rem(20) rem(40);
    }
    @include breakpoint(xlarge) {
      font-size: rem(50);
    }
  }
  .smallHeader {
    @include breakpoint-down(small) {
      font-size: rem(26);
      max-width: rem(300);
    }
  }
  .largeHeader {
    @include breakpoint(medium) {
      font-size: rem(40);
    }
    @include breakpoint(large) {
      font-size: rem(50);
    }
  }
  button {
    position: absolute;
    top: rem(12);
    right: calc(50% - 80px);
    width: rem(160);
    @include breakpoint(large) {
      top: rem(20);
      right: rem(20);
    }
  }
}
