@use "../../styles/utilStyles/" as *;

.contact-section {
  background-color: var(--light-green);
  padding: rem(20);
  @include breakpoint(medium) {
    padding: rem(30);
  }
  .container {
    @include breakpoint(large) {
      @include grid-parent(repeat(2, 1fr), 1fr, rem(20));
      margin: 0 auto;
      max-width: rem(1000);
    }
  }
}
