@use "../../styles/utilStyles/" as *;

.home-page {
  .home-blocks {
    margin: rem(15) 0;
    @include breakpoint(medium) {
      margin: 0;
    }
    @include breakpoint(xlarge) {
      margin: rem(20) 0;
    }
  }
}
