@use "../../styles/utilStyles/" as *;

.home-page {
  position: relative;
  .cta button {
    position: absolute;
    top: rem(12);
    right: calc(50% - 80px);
    width: rem(160);
    @include breakpoint(large) {
      right: rem(20);
    }
  }
}
