@use "../../styles/utilStyles" as *;

.logoContainer {
  @include grid-parent(auto 1fr, 1fr, rem(5), center, center);
  @include grid-child(1, 1, start, start);
  text-decoration: none;
  span {
    color: var(--darker-grey);
  }
}

.headerLogo {
  img {
    height: rem(40);
  }
  span {
    font-size: rem(12);
    @include breakpoint(small) {
      font-size: rem(13);
    }
    @include breakpoint(large) {
      font-size: rem(14);
    }
  }
}

.footerLogo {
  margin: 0 auto;
  width: rem(180);
  img {
    height: rem(50);
  }
  span {
    font-size: rem(13);
    @include breakpoint(large) {
      font-size: rem(16);
    }
  }
}
