@use "../../styles/utilStyles/" as *;

.card {
  @include grid-parent(auto, auto 1fr);
  background-color: var(--light-background);
  color: var(--darker-grey);
  margin: 0 auto;
  max-width: 400px;
  padding: rem(10);
  width: 100%;
  //* scroll animation
  opacity: 0;
  transition: opacity 0.6s ease;
  @include breakpoint(medium) {
    margin: 0;
    max-width: 500px;
    &:nth-child(even) {
      justify-self: start;
    }
    &:nth-child(odd) {
      justify-self: end;
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 rem(15);
    @include breakpoint(medium) {
      padding: rem(5) rem(25);
    }
    @include breakpoint(large) {
      padding: rem(5) rem(40);
    }
    h3 {
      font-size: rem(18);
      margin: 0 auto;
      text-align: center;
      @include breakpoint(medium) {
        font-size: rem(20);
      }
      @include breakpoint(large) {
        font-size: rem(22);
      }
    }
    p {
      font-size: rem(12);
      text-align: left;
      @include breakpoint(medium) {
        font-size: rem(14);
      }
      @include breakpoint(large) {
        font-size: rem(15);
      }
    }
    button {
      width: 100%;
    }
  }
}
