@use "../../styles/utilStyles/" as *;

.card {
  @include grid-parent(auto, auto 1fr);
  background-color: var(--light-background);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 400px;
  padding: rem(10);
  width: 100%;
  @include breakpoint(medium) {
    margin: 0;
    max-width: 310px;
    &:nth-child(even) {
      justify-self: start;
    }
    &:nth-child(odd) {
      justify-self: end;
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 rem(15);
    h3 {
      font-size: rem(18);
      margin: 0 auto;
      text-align: center;
    }
    p {
      font-size: rem(12);
      line-height: 1.7;
      text-align: left;
      @include breakpoint(medium) {
        font-size: rem(13);
      }
    }
    button {
      width: 100%;
    }
  }
}
