@use "../../styles/utilStyles/" as *;

.container {
  margin: 0 auto;
  //* scroll animation
  opacity: 0;
  transition: opacity 0.6s ease;
  @include breakpoint(large) {
    max-width: rem(500);
  }
}

.contactInfo,
.locationInfo {
  background-color: var(--light-background);
  padding: rem(10);
  .content {
    padding: 0 rem(20);
    @include breakpoint(large) {
      height: rem(640);
    }
    @include breakpoint(xlarge) {
      height: rem(620);
    }
    h3 {
      font-size: rem(17);
      margin: rem(10) 0;
      @include breakpoint(medium) {
        font-size: rem(18);
      }
      @include breakpoint(large) {
        font-size: rem(20);
      }
    }
    .addressLine,
    span {
      font-size: rem(14);
      @include breakpoint(large) {
        font-size: rem(16);
      }
    }
    svg {
      color: var(--turquoise);
    }
    .disclaimer {
      font-size: rem(10);
      font-style: italic;
      margin-top: rem(5);
      @include breakpoint(medium) {
        font-size: rem(11);
      }
    }
  }
}

.contactInfo {
  margin: 0 0 rem(20);
  @include breakpoint(large) {
    margin: 0;
  }
  @include breakpoint(large) {
    order: 1;
  }
  .block {
    @include breakpoint(large) {
      margin-bottom: rem(50);
    }
  }
  .contactLinks,
  .mailingAddress {
    margin: rem(20) 0;
    @include breakpoint(medium) {
      padding: 0 0 0 rem(30);
    }
  }
  .link {
    @include grid-parent(rem(20) auto, 1fr, rem(5), center, start);
    color: var(--darker-grey);
    margin: rem(10) 0;
  }
  .mailingAddress {
    margin-bottom: rem(10);
    p {
      margin: rem(2) 0;
      &:last-of-type {
        margin-bottom: rem(10);
      }
    }
  }
}
