@use "../../styles/utilStyles" as *;

.header {
  background-color: var(--off-white);
  padding: rem(5) rem(10);
  @include breakpoint(large) {
    @include grid-parent(rem(180) 1fr rem(480), 1fr, 0, center, start);
  }
  .topRow .logoContainer {
    @include grid-parent(rem(40) 1fr, 1fr, 0, center, center);
    @include grid-child(1, 1, start, start);
    margin-left: rem(6);
    img {
      height: rem(40);
    }
    span {
      font-size: rem(13);
      @include breakpoint-down(large) {
        font-size: rem(14);
      }
    }
  }
}

// mobile header styles
.header .topRow {
  @include breakpoint-down(medium) {
    @include grid-parent(repeat(2, 1fr), auto, 0, center, center);
  }
}
