@use "../../styles/utilStyles" as *;

.footer {
  background-color: var(--off-white);
  padding: rem(20) rem(10) rem(10);
  @include breakpoint(medium) {
    padding: rem(20);
  }
  a {
    color: var(--dark-text);
    text-decoration: none;
  }
  p {
    color: var(--dark-text);
    margin: 0;
  }
  .footerNav {
    @include grid-parent(1fr, repeat(5, auto), rem(10), center, center);
    list-style: none;
    margin: rem(5) auto rem(10);
    padding: 0;
    @include breakpoint(small) {
      @include grid-parent(repeat(5, auto), 1fr, rem(20), center, center);
      height: rem(20);
      margin: rem(20) auto rem(25);
    }
    li {
      margin: 0 auto;
      a {
        font-size: rem(12.5);
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        &:hover {
          border-bottom: 1.5px solid var(--dark-grey);
        }
      }
    }
  }

  .legalLinkContainer {
    @include grid-parent(1fr 1fr, 1fr, 0, center, center);
    font-size: rem(11);
    margin: rem(20) auto;
    max-width: rem(280);
    @include breakpoint(medium) {
      max-width: rem(400);
    }
    a {
      display: inline-block;
      font-style: italic;
      justify-self: center;
    }
    span {
      @include grid-child(2, 1, center, center);
    }
  }
  .copyright {
    font-size: rem(12);
    margin: rem(20) auto rem(10);
    text-align: center;
  }
}
