@use "../../styles/utilStyles/" as *;

.block .contentContainer {
  padding: 0 rem(20);
}

.home {
  @include grid-parent(1fr, 20px auto 20px);
  aspect-ratio: 1/1;
  background-color: var(--light-text);
  max-width: rem(400);
  padding: rem(10);
  @include breakpoint-down(xsmall) {
    aspect-ratio: 1/1;
  }
  @include breakpoint(medium) {
    aspect-ratio: 1/1;
    height: 100%;
    max-width: rem(360);
  }
  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include breakpoint-down(xsmall) {
      justify-content: space-between;
      padding: 0 rem(15);
    }
    .spacingPara {
      @include breakpoint(xlarge) {
        display: none;
      }
      @include breakpoint(mega) {
        display: block;
      }
    }
    h3 {
      border-radius: 10px;
      color: var(--darker-grey);
      margin: 0;
    }
    p {
      font-size: rem(11);
      line-height: 1.5;
      margin: 0 auto;
      @include breakpoint(medium) {
        font-size: rem(12);
      }
    }
    button {
      width: 100%;
    }
    @include breakpoint(large) {
      justify-content: space-evenly;
    }
    @include breakpoint(xlarge) {
      justify-content: space-evenly;
      padding: rem(5) rem(20);
    }
    @include breakpoint(mega) {
      justify-content: space-between;
      padding: rem(10) rem(30);
    }
  }
}

.about {
  height: 100%;
  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100% - 30px);
    @include breakpoint(medium) {
      padding: 0 rem(30);
    }
  }
  p {
    font-size: rem(11.5);
    margin: rem(10) auto;
    line-height: 1.6;
    @include breakpoint(small) {
      font-size: rem(13);
    }
    @include breakpoint(large) {
      font-size: rem(14);
      line-height: 1.8;
    }
  }
}
