@use "../../styles/utilStyles/" as *;

.slide {
  background-color: var(--light-text);
  display: none;
  height: rem(130);
  padding: rem(10) rem(20);
  width: calc(80vw - 20px);
  &[data-visible="true"] {
    display: block;
  }
  p {
    font-size: rem(13);
    &:last-child {
      font-style: italic;
    }
  }
}
